section.cat_container {
  @apply flex flex-wrap gap-x-6 my-6;
}

div.cat_summary {
  @apply bg-[#e9f5f4] w-[47rem] p-8 rounded-3xl;
}


.cat_table {
  background-color: #f8f8fa !important;
}

.cat_table_dropdown {
  background-color: #fff !important;
  margin: 2rem 0 !important;
  /* margin: 16rem !important; */
  /* box-shadow: ; */
}

.mui_textField input {
  color: #82929D;
  font-size: 0.95rem;
  border-bottom: 1px solid #82929D;
  /* background-color: brown !important; */
}

.mui_textField label {
  color: #5DADE2 !important;
  font-size: 0.9rem;
}

.mui_textField label:focus {
  color: transparent !important;
}

.cat_dropdown_footer {
  display: flex;
  align-items: center;
  color: #82929D;
}

.add_category_btn {
  color: #5DADE2 !important;
  text-transform: inherit !important;
  font-weight: 600 !important;

}

.add_category_btn:hover {
  background: transparent !important;
}
.header_label {
  color: #82929D !important;
}

.header_input {
  margin-top: 0 !important;
  padding-top: 10px !important;
  background-color: #E9E9EB;
  border-radius: 5px;
  border-bottom: 1px solid #82929D !important;

}