section.register {
  /* background-image: url('https://res.cloudinary.com/dskl0qde4/image/upload/v1682011373/pexels-alexander-isreb-1797428_cwbxx1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; */

  @apply grid place-items-center w-full h-screen lg:grid-cols-2 xl:grid-cols-6;
}

div.register-banner {
  @apply hidden lg:grid place-content-center gap-10 p-10 border w-[80%] h-[95%] shadow-md rounded-xl xl:col-span-2;
}

div.register-form {
  /* background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25); */

  @apply w-full sm:w-[30rem] p-10 rounded-xl xl:col-span-4 border sm:border-none;
}
