@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,400;1,700&display=swap');
@import './styles/_customTheme.css';

@import 'primereact/resources/themes/lara-light-indigo/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Nunito', sans-serif;
  background-color: #f8f8fa;
}

.ps-sidebar-root {
  @apply shadow-sm;
}

.css-1wvake5 {
  width: initial;
  min-width: none;
}

.ps-menuitem-root {
  padding: 0 20px !important;
}

.ps-menu-button {
  padding: 0 20px !important;
  color: #888b92 !important;
  font-size: 0.96rem;
  font-weight: 500;
}

.ps-menu-button:hover {
  background-color: #e8f5f4 !important;
  border-radius: 8px;
  color: #14c8ab !important;
}

div.p-datatable-header {
  background: var(--table-header-bg) !important;
}

.p-datatable-thead > tr > th {
  background: var(--table-row-bg) !important;
  color: var(--text) !important;
}

.p-datatable-tbody > tr {
  background: var(--table-row-bg) !important;
  color: var(--text) !important;
}

.ps-sidebar-container {
  background-color: var(--sidebar-bg) !important;
}

.sales_icons {
  font-size: 2rem;
  color: #04a7f9;
}

/* Customers */
.MuiDataGrid-columnHeaders {
  background-color: #e9f5f4 !important;
  min-height: 40px !important;
  max-height: 40px !important;
  font-size: 12px !important;
}

.MuiDataGrid-virtualScroller {
  color: var(--text) !important;
  font-size: 0.8rem !important;
}

/* 6A7280 */

.Mui-checked {
  color: #14c8ab !important;
}

.css-1gxqqzw-MuiButtonBase-root-MuiCheckbox-root,
.css-rtrcn9-MuiTablePagination-root,
.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon,
.css-zylse7-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
  color: var(--text) !important;
}

.Mui-selected {
  background-color: #def1e7 !important;
}

.MuiDataGrid-row:hover {
  background-color: #def1e783 !important;
}

.MuiDataGrid-columnHeader:focus,
.MuiDataGrid-cell:focus,
.MuiDataGrid-columnHeader:focus-within,
.MuiDataGrid-cell:focus-within {
  outline: none !important;
}

.css-8je8zh-MuiTouchRipple-root {
  display: none !important;
}

.css-3jq30o-MuiInputBase-root-MuiInput-root:after,
.css-3jq30o-MuiInputBase-root-MuiInput-root:before {
  display: none !important;
}

/* new */

.css-1ex1afd-MuiTableCell-root {
  color: #82929d !important;
}

.css-1gzkxga-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input {
  padding-top: 15px !important;
}

div.p-dialog-mask {
  background-color: rgba(121, 121, 121, 0.4) !important;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

div.p-dialog-header,
div.p-dialog-content {
  background: var(--sidebar-bg) !important;
  color: var(--text-form) !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  border-color: var(--text) !important;
  color: var(--text-form) !important;
}

label.css-xirb9b-MuiFormLabel-root-MuiInputLabel-root {
  color: var(--text-form) !important;
}
